<ion-header>
  <ion-toolbar>
    <ion-title>
      Audios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card class="welcome-card">
        <img src="https://image.freepik.com/foto-gratis/retro-microfono-aislado-fondo-color_1387-912.jpg" alt="" />
        <ion-card-content>
          <p>A continuación se encuentran distintos botones que permitiran grabar, escuchar, eliminar y enviar el audio para obtener la información requerida.</p>
        </ion-card-content>
    </ion-card>
  
    <p>
        <button ion-button icon-start>
          <ion-icon name='md-recording'></ion-icon>
          Grabar
        </button>
    </p>

    <p>
        <button ion-button icon-start>
            <ion-icon name='md-play' is-active="false"></ion-icon>
            Escuchar
        </button>
    </p>

    <p>
        <button ion-button icon-start>
            <ion-icon name='md-trash' is-active="false"></ion-icon>
            Eliminar
        </button>
    </p>

    <p>
        <button ion-button icon-start>
            <ion-icon name='md-send' is-active="false"></ion-icon>
            Enviar
        </button>
    </p>


</ion-content>
