<ion-header>
  <ion-toolbar>
    <ion-title>
      VozApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://previews.123rf.com/images/totamilow/totamilow1807/totamilow180700051/105150327-hand-drawn-acrylic-painting-abstract-art-background-color-texture-fragment-of-artwork-abstract-paint.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Computación paralela y distribuida</ion-card-subtitle>
        <ion-card-title>Proyecto Distribuido</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>El proyecto consiste en una aplicación que según un registro de voz nos entregue información del usuario</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-item href="https://github.com/vfaurec/Proyecto_distribuido">
        <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
        <ion-label>Repositorio GIT</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
